<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>stms</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<display-name>SetCharacterEncodingFilter</display-name>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>com.czesou.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>UserAction</display-name>
		<servlet-name>UserAction</servlet-name>
		<servlet-class>com.czesou.action.UserAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAction</servlet-name>
		<url-pattern>/UserAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentAction</display-name>
		<servlet-name>DepartmentAction</servlet-name>
		<servlet-class>com.czesou.action.DepartmentAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentAction</servlet-name>
		<url-pattern>/DepartmentAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoleAction</display-name>
		<servlet-name>RoleAction</servlet-name>
		<servlet-class>com.czesou.action.RoleAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleAction</servlet-name>
		<url-pattern>/RoleAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>HomeworkAction</display-name>
		<servlet-name>HomeworkAction</servlet-name>
		<servlet-class>com.czesou.action.HomeworkAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeworkAction</servlet-name>
		<url-pattern>/HomeworkAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CaseAction</display-name>
		<servlet-name>CaseAction</servlet-name>
		<servlet-class>com.czesou.action.CaseAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CaseAction</servlet-name>
		<url-pattern>/CaseAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadAction</display-name>
		<servlet-name>UploadAction</servlet-name>
		<servlet-class>com.czesou.action.UploadAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadAction</servlet-name>
		<url-pattern>/UploadAction</url-pattern>
	</servlet-mapping>

</web-app>