<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MobilePhoneStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserInfoController</display-name>
    <servlet-name>UserInfoController</servlet-name>
    <servlet-class>com.luna.controller.UserInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoController</servlet-name>
    <url-pattern>/UserInfoController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SetCharacterEncodingFilter</display-name>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>com.luna.filter.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInfoController</display-name>
    <servlet-name>AdminInfoController</servlet-name>
    <servlet-class>com.luna.controller.AdminInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfoController</servlet-name>
    <url-pattern>/AdminInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrandController</display-name>
    <servlet-name>BrandController</servlet-name>
    <servlet-class>com.luna.controller.BrandController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandController</servlet-name>
    <url-pattern>/BrandController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NetworkTypeController</display-name>
    <servlet-name>NetworkTypeController</servlet-name>
    <servlet-class>com.luna.controller.NetworkTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetworkTypeController</servlet-name>
    <url-pattern>/NetworkTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatingSystemController</display-name>
    <servlet-name>OperatingSystemController</servlet-name>
    <servlet-class>com.luna.controller.OperatingSystemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatingSystemController</servlet-name>
    <url-pattern>/OperatingSystemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreenSizeController</display-name>
    <servlet-name>ScreenSizeController</servlet-name>
    <servlet-class>com.luna.controller.ScreenSizeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenSizeController</servlet-name>
    <url-pattern>/ScreenSizeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>com.luna.controller.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/UploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobilePhoneInfoController</display-name>
    <servlet-name>MobilePhoneInfoController</servlet-name>
    <servlet-class>com.luna.controller.MobilePhoneInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobilePhoneInfoController</servlet-name>
    <url-pattern>/MobilePhoneInfoController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.luna.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShopCartController</display-name>
    <servlet-name>ShopCartController</servlet-name>
    <servlet-class>com.luna.controller.ShopCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopCartController</servlet-name>
    <url-pattern>/ShopCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>com.luna.controller.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
</web-app>