*{
    margin:0;
    padding:0;
}
ul{
    margin: 0;
}
.clear{ clear:both}
header a:link{ color: #999; text-decoration: none;}
header a:visited{ color: #999; text-decoration: none;}
header a:hover{ color: #2E9057; text-decoration: none;}
.top_nav {
    width: 100%;
    height: 38px;
    background: #EBEBEB;
    border-bottom: 1px solid #ddd;

    position: fixed;
    top:0;
    margin-bottom: 20px;
    z-index: 999
}
.top_container{
    width: 1180px;
    margin: 0 auto;
}
header .top_nav .top_container ul li{
    list-style: none;
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding:  0 6px;
    font-family: "宋体";
}
header .top_nav .top_right{
    float: right;
    margin-right: -6px;
}
header .top_nav .top_right p{
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #666;
    font-family: "宋体";
    float: left;
}
header .top_nav .top_right ul{
    float: right;
}
header .top_nav .top_right ul li{
    border-left: 1px solid #d9d9d9;
    height: 15px;
    line-height: 15px;
    margin-top: 10px;
}
header .top_nav .top_right ul a:link{ color: #666; text-decoration: none;}
header .top_nav .top_right ul a:visited{ color: #666; text-decoration: none;}
header .top_nav .top_right ul a:hover{ color: #2E9057; text-decoration: none;}
header .top_nav .top_right ul .hides_left{
    border-left: 1px solid #EBEBEB;
}
/*导航条样式止*/
.tx{
    /*头像*/
    color: #257397;
    height: 40px;
    line-height: 5px;
    width: 40px;
    border-radius:50%;
    margin-top: -10px;
}
.zts{
    width: 100%;
    height: 600px;
    margin-top: 20px;
    /*border: 1px solid #2a6496;*/
}
.zt{
    width: 1300px;
    /*height: 600px;*/
    /*border: 1px solid #2a6496;*/
    margin: 0 auto;
}
.left{
    float: left;
    width: 15%;
    height: 560px;
    border: 1px solid #DDDDDD;
    margin: 0 auto;

    position: fixed;
    margin-top:40px;
    /*border-radius: 10px;*/
}
.left ul li{
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    border-bottom: 2px solid #F5F5F5;
    font-size: 16px;
}
.left ul li a{
    text-decoration: none;
    color: #2CA368;
}
.left ul li a:hover{
    text-decoration: none;
    /*background-color: #2a6496;*/
}
.left ul li i{
    color: #2CA368;
    margin-left: 25px;
    margin-right: 15px;
}
.tb{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.dj{
    /*background-color: #e8e8e8;*/
}
.right{
    margin-left: 30px;
    float: right;
    width: 82%;
    height: 500px;

    margin-top: 40px;
    /*border: 1px solid #2CA368;*/
}
.right tr{
}
.right td{
    padding:7px;
}

.bt{
    width: 100%;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    line-height: 30px;
}
.bt a{
    text-decoration: none;
    color: #2CA368;
}
.lj{
    margin-left: 20px;
}
.xxs{
    width: 100%;
    height: 490px;
    margin-top: 40px;
    border: 1px solid #D2D2D2;
    /*最外层边框*/
}
.Info{
    float: left;
    width: 300px;
    /*height: 500px;*/
    /*border: 1px solid #5bc0de;*/
    margin-left: 15px;
    margin-top: 15px;
}
table{
    /*border: 1px solid #5bc0de;*/
    font-size: 12px;
    font-family: 微软雅黑;

}
.headPortrait{
    padding-top: 20px;
    float: left;
    width: 200px;
    /*border: 1px solid #5bc0de;*/
    margin: 20px auto;
    text-align: center;
}
/*.q1{
    float: right;
    width: 80px;
    height:30px;
    border-radius: 30px;
    border: 0px;
    background-color: #2CA368;
    margin-top: 20px;
    margin-right: 20px;
}
#q,#q1,#q2{
    color: white;
    text-decoration: none;
}*/
/*个人信息止*/
/*创建课程样式开始*/
.kcc{
    margin-top: 20px;
    width: 100%;
    /*border: 1px solid #2CA368;*/
    height: auto;
    background-color: #F7F7F7;
    padding-bottom: 80px;
}
/*=========================*/
h3{
    /*padding-left: 20px;*/
    padding-top: 20px;
}
.nr{
    width: 1000px;
    /*height: 2100px;*/
    /*border: 1px solid #2CA368;*/
    margin: 0 auto;
    /*background-color: #F7F7F7;*/
}
.txs{
    margin: 0 auto;
    width: 700px;
    height: auto;
    /*border: 1px solid #2a6496;*/
}
/*==============*/
label{
    /*float: left;*/
    font-weight: 700;
    line-height: 70px;
    /*padding-left: 20px;*/
    font-size: 14px;
}
.inys{
    float: left;
    width: 200px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 18px;
    margin-left: 15px;
}
.dropdown{
    float: left;
    margin-top: 18px;
    margin-left: 5px;
}
.btn {
    margin-left: 20px;
}
/*===========多级菜单样式========*/
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*下拉止*/
.kzs{
    /*float: left;*/
    width: 600px;
    height: 50px;
    /*border: 1px solid #2D93CA;*/
    margin-top: 10px;
}
.btkz{
    float: left;
    width: 100px;
    height: 50px;
    /*border: 1px solid #2D93CA;*/
    text-align: right;
}
.in{
    float: left;
    margin-top: 20px;
    width: 400px;
    height: 35px;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;

}
.help-block{
    float: left;
    margin-top: 25px;
    margin-left: 20px;
}
.kzss{
    /*float: left;*/
    width: 800px;
    height: 50px;
    /*border: 1px solid #2D93CA;*/
    margin-top: 10px;
}
.uplo{
    /*margin-left: 20px;*/
    float: left;
    width: 600px;
    /* height: 180px;*/
    margin-left: -45px;
    padding-top: 20px;
    /*border: 1px solid #2CA368;*/
}
.btnn{
    width: 300px;
    /*text-align: center;*/
    margin: 0 auto;
    /*border: 1px solid #2a6496;*/
    margin-top: 60px;

}
.q1,.q2{
    /*float: left;*/
    width: 70px;
    height:35px;
    border-radius: 6px;
    border: 0px;
    background-color: #337AB7;
    margin-top: 40px;
    margin-right: 25px;
}
.q2{
    margin-left: 30px;
}
#q,#w{
    color: white;
    text-decoration: none;
}
.file-drop-zone{
    height: auto;
}
/*layer自定义弹窗颜色*/
body .demo-class .layui-layer-title{background:#267A4A; color:#fff; border: none;}