*{
    margin:0;
    padding:0;
}
ul{
    margin: 0;
}
.clear{ clear:both}
header a:link{ color: #999; text-decoration: none;}
header a:visited{ color: #999; text-decoration: none;}
header a:hover{ color: #2E9057; text-decoration: none;}
.top_nav {
    width: 100%;
    height: 38px;
    background: #EBEBEB;
    border-bottom: 1px solid #ddd;
}
.top_container{
    width: 1180px;
    margin: 0 auto;
}
header .top_nav .top_container ul li{
    list-style: none;
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding:  0 6px;
    font-family: "宋体";
}
header .top_nav .top_right{
    float: right;
    margin-right: -6px;
}
header .top_nav .top_right p{
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    color: #666;
    font-family: "宋体";
    float: left;
}
header .top_nav .top_right ul{
    float: right;
}
header .top_nav .top_right ul li{
    border-left: 1px solid #d9d9d9;
    height: 15px;
    line-height: 15px;
    margin-top: 10px;
}
header .top_nav .top_right ul a:link{ color: #666; text-decoration: none;}
header .top_nav .top_right ul a:visited{ color: #666; text-decoration: none;}
header .top_nav .top_right ul a:hover{ color: #2E9057; text-decoration: none;}
header .top_nav .top_right ul .hides_left{
    border-left: 1px solid #EBEBEB;
}
/*导航条样式止*/
.tx{
    /*头像*/
    color: #257397;
    height: 40px;
    line-height: 5px;
    width: 40px;
    border-radius:50%;
    margin-top: -10px;
}
.zts{
    width: 100%;
    /*height: 500px;*/
    margin-top: 20px;
    /*border: 1px solid #2a6496;*/
}
.zt{
    width: 1300px;
    /*height: 600px;*/
    /*border: 1px solid #2a6496;*/
    margin: 0 auto;
}
.left{
    float: left;
    width: 15%;
    height: 560px;
    border: 1px solid #DDDDDD;
    margin: 0 auto;
    /*border-radius: 10px;*/
}
.left ul li{
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    border-bottom: 2px solid #F5F5F5;
    font-size: 16px;
}
.left ul li a{
    text-decoration: none;
    color: #2CA368;
}
.left ul li a:hover{
    text-decoration: none;
    /*background-color: #2a6496;*/
}
.left ul li i{
    color: #2CA368;
    margin-left: 25px;
    margin-right: 15px;
}
.tb{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.dj{
    /*background-color: #e8e8e8;*/
}
.right{
    margin-left: 30px;
    float: left;
    width: 82%;
    height: 550px;
    /*border: 1px solid #2CA368;*/
}
.right tr{
}
.right td{
    padding:7px;
}

.bt{
    width: 100%;
    height: 30px;
    background-color: #F5F5F5;
    border-radius: 10px;
    line-height: 30px;
}
.bt a{
    text-decoration: none;
    color: #2CA368;
}
.lj{
    margin-left: 20px;
}
.xxs{
    width: 100%;
    height: 490px;
    margin-top: 40px;
    border: 1px solid #D2D2D2;
    /*最外层边框*/
}
.Info{
    float: left;
    width: 300px;
    /*height: 500px;*/
    /*border: 1px solid #5bc0de;*/
    margin-left: 15px;
    margin-top: 15px;
}
table{
    /*border: 1px solid #5bc0de;*/
    font-size: 12px;
    font-family: 微软雅黑;

}
.headPortrait{
    padding-top: 20px;
    float: left;
    width: 200px;
    /*border: 1px solid #5bc0de;*/
    margin: 20px auto;
    text-align: center;
}
/*个人信息止*/
/*创建课程样式开始*/
.kcc{
    margin-top: 20px;
    width: 100%;
    /*border: 1px solid #2CA368;*/
    height: 510px;
    background-color: #F7F7F7;
}
/*=========================*/
h3{
    /*padding-left: 20px;*/
    padding-top: 20px;
}
.nr{
    width: 1000px;
    height: 500px;
    /*border: 1px solid #2CA368;*/
    margin: 0 auto;
    /*background-color: #F5F5F5;*/
}
/*=======课时列表=======*/
.captain{
    width: 1000px;
    height: 400px;
    /*border: 1px solid #2CA368;*/
}
/*课时介绍*/
.unit{

    /*border: 1px solid #2CA368;*/
    width: 400px;
}
ul li{
    list-style: decimal-leading-zero;
    /*list-style-position:inside;*/
    line-height: 35px;
    font-size: 14px;
    padding:  0 6px;
}
.yd{
    margin-left: 130px;
}
.unit a{
    text-decoration: none;
    color: #2a6496;
}
.unit a:hover{
    color: #2CA368;
}
/*左边内容*/
